*.log
.DS_Store
.env
.env.backup
.env.production
.env.render
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
# /public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
python-cv/.testdeps/
python-cv/testdeps312/
/python-cv/venv
/python-cv/.job_cache
__pycache__/
*.py[cod]
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
